<link rel='stylesheet' href='/stylesheets/style.css' />
<form class="form-container" action="/add" method="post">
   <div>
      <h1>Add new toy</h1>
   </div>
   <div class="form-group">
      <label>Name</label>
      <input class="form-control" type="text" name="name" required>
   </div>
   <div class="form-group">
      <label >Origin</label>
      <input class="form-control" type="text" name="origin" required>
   </div>
   <div class="form-group">
      <label >Price</label>
      <input class="form-control" type="text" name="price" required>
   </div>
   <div class="form-group">
      <label >Brand</label>
      <input class="form-control" type="text" name="brand" required>
   </div>
   <div class="form-group">
      <label >Brand Origin</label>
      <input class="form-control" type="text" name="brand_origin" required>
   </div>
   <div class="form-group">
      <label >Quantity</label>
      <input class="form-control" type="text" name="quantity" required>
   </div>
   <div class="form-group">
      <label >Image</label>
      <input class="form-control" type="text" name="image" required>
   </div>
   <div class="form-group">
      <input class="btn-admin" type="submit" value="Add">
   </div>
</form>