<link rel='stylesheet' href='/stylesheets/style.css' />
<h1>Product List</h1>
<ul class="product-list">
         {{#each toys}}
         <li class="product-item">
            <div class="card mb-4 box-shadow">
               <img class="card-img-top" src="{{image}}">
               <div class="card-body">
                  <h4 class="card-title">{{name}} - {{price}}</h4>
               </div>
               <a class="btn" href="/order/{{ _id }}">Buy</a>
            </div>
         </li>
         {{/each}}
      </ul>