<!DOCTYPE html>
<html>

<head>
    <title>Life Of Toys</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/index">Admin Lego</a>
            <button class="navbar-toggler" type="button">
            </button>
            <a class="navbar-brand" href="/customer">Lego Page</a>
            <button class="navbar-toggler" type="button">
            </button>
            <a class="navbar-brand" href="/figure">Admin Figure</a>
            <button class="navbar-toggler" type="button">
            </button>
            <a class="navbar-brand" href="/mohinh">Figure Page</a>
            <button class="navbar-toggler" type="button">
            </button>
        </nav>
    </header>
    <main class="container">
        {{{body}}}
    </main>
    <footer class="py-4">
        <div class="container text-center">
            <p>Copyright &copy; 2023 Toys Bank.</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>