body {
  height: 100%;
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  background-color: bisque;
}

main {
  flex: 1;
}
footer {
  background-color: bisque;
  margin-top: auto;
  margin-bottom: 0;
  height: 90px;
}

.product-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-item {
  width: 30%;
  margin-bottom: 20px;
}

.card {
  height: 100%;
}

.card-img-top {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-body {
  padding: 10px;
}

.card-title {
  font-size: 18px;
  margin-bottom: 5px;
}

.btn {
  background-color: cadetblue;
  width: 100%;
}
.label {
  color: aqua;
  display: inline-block;
  margin-right: 5px;
}
.description{
  background-color: white;
  padding: 20px;
  text-align: center;
}
.description h2 {
  margin-bottom: 10px;
}

.description p {
  font-style: italic;
}
.form-container {
  width: 60%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
  background-color: #D8BFD8;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 16px;
  color: rgba(165, 42, 42, 0.625);
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #E6E6FA; /* Màu nền cho các trường nhập liệu */
  color: #333; /* Màu chữ cho các trường nhập liệu */
}

.form-control:focus {
  outline: none;
  border-color: #6c757d;
}

.form-group img {
  max-height: 250px;
  margin-bottom: 10px;
}

.btn-admin {
  background-color: #dc3545;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: 100%;
}

.btn-admin:hover {
  background-color: #c82333;
}

