body {
  height: 100%;
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  background-color: bisque;
}

main {
  flex: 1;
}

footer {
  background-color: bisque;
  margin-top: auto;
}

.product-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-item {
  width: 30%;
  margin-bottom: 20px;
}

.card {
  height: 100%;
}

.card-img-top {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-body {
  padding: 10px;
}

.card-title {
  font-size: 18px;
  margin-bottom: 5px;
}

.btn {
  background-color: cadetblue;
  width: 100%;
}
label {
  display: inline-block;
  margin-right: 5px;
}